@page
@model Dawnx.AspNetCore.LiveAccountUtility.Pages.IndexModel

@{
    ViewBag.Title = "LiveAccountUtility";
}

<h2>LiveAccountUtility</h2>

<div>
    <ul>
        <li><a href="Actions" target="_blank">Actions</a></li>
        <li><a href="Operations" target="_blank">Operations</a></li>
        <li><a href="Roles" target="_blank">Roles</a></li>
        <li><a href="Users" target="_blank">Users</a></li>
    </ul>
</div>