@page
@model Dawnx.AspNetCore.IdentityUtility.Pages.IndexModel

@{
    ViewBag.Title = "IdentityUtility";
}

<h2>IdentityUtility</h2>

<div>
    <ul>
        <li><a href="Roles" target="_blank">Roles</a></li>
        <li><a href="Users" target="_blank">Users</a></li>
    </ul>
</div>