
@{
    ViewData["Title"] = "NxPanel - UserStatus";
}

<div id="app">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Identities</h4>

            <a-table :columns="columns" :data-source="data" size="small">
                <div slot="roles" slot-scope="roles">
                    <ul>
                        <li v-for="role in roles">{{ role }}</li>
                    </ul>
                </div>
                <div slot="expandedRowRender" slot-scope="record" style="margin: 0">
                    <a-table :columns="innerColumns" :data-source="record.claims" size="small">
                    </a-table>
                </div>
            </a-table>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                columns: [
                    { title: 'AuthenticationType', dataIndex: 'authenticationType' },
                    { title: 'Name', dataIndex: 'name' },
                    { title: 'Roles', dataIndex: 'roles', scopedSlots: { customRender: 'roles' } }
                ],
                innerColumns: [
                    { title: 'Claim Type', dataIndex: 'type' },
                    { title: 'Value', dataIndex: 'value' }
                ],
                data: [],
            };
        },
        mounted: function () {
            var _ = this;
            axios
                .get('@Url.Action("UserIdentities")')
                .then(function (response) {
                    _.data = response.data;
                });
        }
    });
</script>
