@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <div id="app_vue"></div>
    <div id="app_ts"></div>

    <script src="~/js/main_vue.build.js"></script>
    <script src="~/js/main_ts.build.js"></script>
</body>
</html>
