@page
@model Dawnx.AspNetCore.LiveAccountUtility.Pages.Roles.CreateModel

@{
    ViewBag.Title = "Create";

    var LiveOperations = ViewBag.LiveOperations as IEnumerable<Dawnx.AspNetCore.LiveAccount.LiveOperation>;
}

<h2>Create</h2>

<h4>LiveRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>LiveOperations</label>
                <ul>
                    @foreach (var liveOperation in LiveOperations)
                    {
                        var id = Guid.NewGuid();
                        <li>
                            <input type="checkbox" id="@id" name="LiveOperations" value="@liveOperation.Id" />
                            <label for="@id">@liveOperation.Name</label>
                        </li>
                    }
                </ul>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
