@page
@model Dawnx.AspNetCore.LiveAccountUtility.Pages.Operations.IndexModel
@using Dawnx.AspNetCore.LiveAccount.Entities

@{
    ViewBag.Title = "Operations";

    var __LiveOperation__ = new LiveOperation();
    var Items = ViewBag.Items as IEnumerable<LiveOperation>;
}

<h2>Operations</h2>

<p>
    <a href="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => __LiveOperation__.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            var id_ConcurrencyStamp = Guid.NewGuid();

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a href="Edit?Id=@item.Id">Edit</a> |
                    <a href="Details?Id=@item.Id">Details</a> |
                    <a href="Delete?Id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
