@page
@model Dawnx.AspNetCore.LiveAccountUtility.Pages.Users.IndexModel
@using Microsoft.AspNetCore.Identity
@using Dawnx.AspNetCore.LiveAccount.Entities

@{
    ViewBag.Title = "Users";

    var __IdentityUser__ = new IdentityUser();
    var Users = ViewBag.Users as IEnumerable<IdentityUser>;
    var LiveRoles = ViewBag.LiveRoles as IEnumerable<LiveRole>;
    var LiveUserRoles = ViewBag.LiveUserRoles as IEnumerable<LiveUserRole>;
}

<h2>LiveUser</h2>

<p>
    <a href="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => __IdentityUser__.UserName)</th>
            @foreach (var role in LiveRoles)
            {
                <th>@role.Name</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Users.OrderBy(x => x.UserName))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                @foreach (var liveRole in LiveRoles)
                {
                    <td>
                        @if (LiveUserRoles.Any(x => x.User == user.Id && x.Role == liveRole.Id))
                        {
                            <text>✔</text>
                        }
                        else { }
                    </td>
                }
                <td>
                    <a href="Edit?Id=@user.Id">Edit</a> |
                    <a href="Details?Id=@user.Id">Details</a> |
                    <a href="Delete?Id=@user.Id">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
